<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Write a tweet</h1>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="<%= @avatar %>" alt="<%= @name %>">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= @name %></h4>
          <p><small>Used words</small> <span class="js-counter label label-success">0</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <form class="js-tweet-form" method="GET" action="/publish">
    <div class="col-md-4">
      <div class="form-group">
        <label class="sr-only" for="tweet">Your tweet:</label>
        <textarea id="tweet-box" name="tweet" class="js-tweet-content form-control" rows="2" placeholder="Escribe lo que quieras aquí..."></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="js-button btn btn-primary" disabled="disabled">Tweet</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron jumbotron-canvas ">
        <div class="js-explanation explanation">
          <p>If you go over letters here an image will appear with the rest of the text.</p>
          <p>This image will rise as an attachment in your tweet.</p>
        </div>
        <canvas class="canvas-c" id="tweet-canvas"></canvas>
      </div>
    </div>
  </form>
</div>



