<div class="row">
  <div class="col-md-offset-3 col-sm-6">
    <div class="jumbotron jumbotron--dark">
      <h1>Hola</h1>
      <p>Necesitas acceder con tu cuenta de Twitter para poder escribir un tweet <strong>EXTENDIDO</strong></p>
      <p><a href="/auth/twitter" class="btn btn-primary btn-lg" role="button">Entra con tu Twitter</a></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-3 col-sm-6">
    <div class="jumbotron jumbotron--dark">
      <h4>¿Qué es un Tweet EXTENDIDO?</h4>
      <p>La idea es poder generar tweets de mas de <strong>140</strong> caracteres. Para ello se genera una imagen con el texto que no
        cabe en el tweet y se adjunta.</p>
      <p>Ej.:</p>
      <p><img src="/images/tweet-example.png" class="img-responsive"></p>
    </div>
    <p><small>Esto es un projecto personal de <a href="https://twitter.com/andresgutgon" target="_blank">@andresgutgon</a>.</small></p>
  </div>
</div>
